.container {
  padding: 1rem;

  h1 {
    margin: 20px 0;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productItem {
  border: 1px #404040 solid;
  margin: 1rem;
}

.productItem img {
  width: 100%;
  max-width: 400px;
}

.productInfo {
  padding: 1rem;
}
